*.tar.xz
*.tar.zst
*.tar.gz
*.tar.bz2
*.tar.zst
*.tar.lz
*.tar.lzma
*.tar
*.tgz
*.rar
*.zip
*.aria2
*.part
*.sig
*.asc
*.log
*.log.[0-9]*
gcc-git
binutils-git
mingw-w64
*/src/
/*/src/
*/pkg/
*~
*.swp
*.swo
/*/*-svn/
/*/*-hg/
*/binutils/
*/openssl/
*/libtool/
*/gnulib/
*/gnulib-bootstrap/
*/asciidoctor-extensions/
*/gcc/
/mc/mc/
/*/mingw-w64/
/*/gcc-git/
/*/*/mingw-w64/
/*/cmake-git/
/*/*/windows-default-manifest/
*/mingw-w64/
/*/msys2-runtime/
src
/mingw-w64-git-1/git/
/ppp/*.patch
